*.pyc
guestbook/.idea/.name

guestbook/.idea/encodings.xml

guestbook/.idea/guestbook.iml

guestbook/.idea/libraries/Google_App_Engine_SDK.xml

guestbook/.idea/misc.xml

guestbook/.idea/modules.xml

guestbook/.idea/scopes/scope_settings.xml

guestbook/.idea/vcs.xml

guestbook/.idea/workspace.xml
