<div>
    <div data-dojo-attach-point="greetingsContainerNode"></div>
    ============================================
    <br>
    ============= SIGN GUESTBOOK ===============
    <br>
    <div data-dojo-attach-point="signFormContainerNode"></div>
    ============================================
    <br>
    ============= SWITCH GUESTBOOK =============
    <br>
    <input
            data-dojo-attach-point="guestbookNameNode"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="pattern:'.{20}', invalidMessage:'Max of content is 20 chars.'"
            type="text" value="" required="true"/>
    <button
            data-dojo-type="dijit/form/Button"
            data-dojo-attach-point="switchButtonNode"
            value="Switch">Switch</button>
</div>