<div>
    <div id="greetingsContainer"></div>
    ============================================
    <br>
    ============= SIGN GUESTBOOK ===============
    <br>
    <div data-dojo-attach-point="signFormContainerNode"></div>
    ============================================
    <br>
    ============= SWITCH GUESTBOOK =============
    <br>
    <input type="text" value="" required="true"
           data-dojo-attach-point="guestbookNameNode"
           data-dojo-type="dijit/form/ValidationTextBox"
           data-dojo-props="pattern:'.{20}', invalidMessage:'Max of content is 20 chars.'"/>
    <button value="Switch"
            data-dojo-attach-point="switchButtonNode"
            data-dojo-type="dijit/form/Button">Switch</button>
</div>